{% extends 'master.jinja2' %}

{% block main %}

<article class="article-{{ index.name }}">
{{ index.content_html|safe }}
</article>

<div class="section-container" id="{{ index.name }}"> {# ideally move this one container up#}
{% for leaf in index.leaves %}
    {% include 'section.jinja2' %}
{% endfor %}
</div>

{% endblock %}